  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', ;
    color: #505962;  
}

.offset:before {
    height: 3.8rem;
    margin-top: -3.8rem;
    content: "";
    display: block;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba (0, 0, 0, 0.6) !important; 
    opacity: 0.95;
}
.navbar-brand img {
    height: 3rem; 
}
.navbar-nav li {
    padding-right: .7rem;   
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: darkorange!important; 
}

/*--Test navbar--*/

.dropdown-menu {
    font-family: 'Source Sans Pro';
}


.navbar-dark .navbar-nav .dropdown-item.active,
.navbar-dark .navbar-nav .dropdown-item:hover {
    color: darkorange!important; 
}


/*--- Carousel --*/





#carouselExampleIndicators .btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: .5rem;
}

#carouselExampleIndicators .carousel-caption {
  position: absolute;
  right: ((100% - $carousel-caption-width) / 2);
  bottom: 20px;
  left: ((100% - $carousel-caption-width) / 2);
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 50%;
  text-align: center;
}





.jumbotron {
    border-radius: 0;
    padding: 3rem 0 2rem;
    margin-bottom: 0;
}
h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.9rem;
}
.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: aquamarine;
    margin: 0 auto 2rem;
}
/*--- Destinations Photos --*/

.destinations img {
    max-width: 100%;
    transition: transform .5s ease;
}
.row.no-padding [class*=col-] {
    padding: 0;
}
.destinations img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
}
.destinations {
    overflow: hidden;
}
.card {
    margin: 2rem;
}
/*--- Contact and footer --*/

footer {
    background-color: dimgrey;
    color: white;
    padding: 2rem 0 2rem;
    margin: 1rem;
}
footer img {
    height: 3rem;
    margin: 1.5rem 0;
}
footer a {
    color: white;
}
footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
    color: red;
}
hr.socket {
    border-top: .2rem solid #1ebba3;
    width: 100%;
}

/*--- Media queries Carousel --*/
@media (max-width: 767px) {
        #carouselExampleIndicators .carousel-caption h1 {
        font-size: 1rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
        text-align: center;
        }
        #carouselExampleIndicators .btn-lg {
        font-size: .5rem;
        border-width:thin;
        border-radius: 0;
        text-transform: uppercase;
        margin-top: 0;
        }
}






.narrow {
    width: 75%,
    margin: 0 auto;
    padding-top: 2rem;
}
.btn-md {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin: 1rem; 
}


#destinations .p {
    text-align: center;
}


.overlay { 
  color:white;
  position: absolute;
  z-index:12;
  top:70%;
  left:0;
  width:100%;
  text-align:center;
}





@media screen and (max-width: 320px){
  .col-sm-4 {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 450px){
  .col-sm-4 {
    width: 33.333333%;
  }
}

.col-sm-4 .content {
  position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 320px;
  margin: .5px;
  overflow: hidden;
  float:left;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 0.6;
}

.content-image {
  width: 100%;
  height: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}



/*--

.caption {
    width: 100%;s
    max-width: 100%;
    position: absolute;
    top: 48%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}
.caption h1{
    padding-bottom: 2rem; 
}
.btn-lg {
    border-width: medium;
    border-radius: 0;
    margin-top: 2em;
--*/




